extends ../layout

block content
    h1= Register
    p Create an account
    form.col.s12(name="register_form" method="post" action="/account/register" novalidate)
        div.input
            span.label(ng-show="register_form.user_mail.$error.mustRepeat || register_form.user_mail_2.$error.mustRepeat ") Please check your email
            div.input-field.col.s12
                input.validate(type="email" name="user_mail" id="user_mail" must-repeat="register_form.user_mail_2"
                     ng-model="user_mail" required)
                label(for="user_mail" data-error="Please enter an email address" data-success="OK") Mail address

            div.input-field.col.s12
                input.validate(type="email" name="user_mail_2" id="user_mail_2"
                must-repeat="register_form.user_mail" ng-model="user_mail_2" required)
                label(for="user_mail_2" data-error="Please enter an email address" data-success="OK") Please repeat mail address

            span.label(ng-show="register_form.user_passwd.$error.mustRepeat || register_form.user_passwd_2.$error.mustRepeat") Please check your password
            div.input-field.col.s12
                input.validate(type="password" name="user_passwd" id="user_passwd" must-repeat="register_form.user_passwd_2"
                    ng-model="user_passwd" required)
                label(for="user_passwd" data-error="wrong" data-success="right") Password

            div.input-field.col.s12
                input.validate(type="password" name="user_passwd_2" id="user_passwd_2"
                    must-repeat="register_form.user_passwd" ng-model="user_passwd_2" required)
                label(for="user_passwd_2" data-error="wrong" data-success="right") Please repeat password
        div.actions
            button(type="submit" class="waves-effect waves-light btn" name="register_action"
            ng-class="{'disabled': register_form.$invalid === true}") Register
                li(class="material-icons right") send
